<!DOCTYPE html>
<html>
  <head>
    <title>Cloth (Alpha)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header class="navbar-fixed">
      <%= render template: "shared/header" %>
    </header>


    <main id="stage" class="container">
      <%= yield %>
    </main>

    <footer class="page-footer blue">
      <%= render template: "shared/footer" %>
    </footer>

    <%= javascript_include_tag 'application'  %>
  </body>
</html>
