<!DOCTYPE html>
<html>
  <head>
    <title>Ilavei PWA (Alpha release)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="stage" class="container">
      <h1 class="header center-align">
        iLavei - Lavagem ecológica (alpha)
      </h1>
      <%= yield %>
    </div>
  </body>
</html>
